
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('Assert/Fondo-Main.jpg');
    background-size: cover;
    background-position: center;
}

/* Estilo del encabezado */
header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1rem 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    
}

.logo img {
    height: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
/* Efecto al pasar el ratón */
.logo img:hover {
    transform: scale(1.2);
}
.logo {
    padding-left: 30px;
    display: inline-block;
}

.logo h1 {
    padding-left: 30px;
    display: inline-block;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

.menu a:hover {
    text-decoration: underline;
}

/* Estilo del contenedor principal */
main {
    flex: 1;
    display: flex;
    justify-content: flex-start; /* Alínea el contenido hacia la izquierda */
    align-items: center; /* Centra verticalmente */
    padding: 2rem; /* Espaciado interno */
}

.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Contenedor del flipper */
.flipper-container {
    width: 500px;
    height: 400px;
    position: relative;
    left: 20%;
    
}

/* Estilo del flipper */
.flipper {
    perspective: 1000px; /* Da la sensación de profundidad */
    width: 100%;
    height: 100%;
    position: relative;
}

.flipper img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(12, 1, 1, 0.3);
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}

/* Imagen frontal (león) */
.front {
    transform: rotateY(0deg); /* Posición inicial */
    z-index: 2; /* Siempre al frente inicialmente */
}

/* Imagen trasera (perro) */
.back {
    transform: rotateY(180deg); /* Oculta inicialmente */
    z-index: 1;
}

/* Efecto de giro en hover */
.flipper-container:hover .front {
    transform: rotateY(-180deg); /* Gira la imagen frontal hacia atrás */
}

.flipper-container:hover .back {
    transform: rotateY(0deg); /* Gira la imagen trasera hacia adelante */
}

/* Pie de página */
footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.copyRight {
    text-align: center;
    flex: auto;
    padding-left: 30%;
}

.redesSociales {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.redesSociales a {
    margin: 0 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

/* Colores específicos para cada red social */
.redesSociales .facebook {
    color: #4267B2;
}

.redesSociales .instagram {
    color: #E1306C;
}

.redesSociales .twitter {
    color: #1DA1F2;
}

/* Efecto hover para cada red social */
.redesSociales .facebook:hover {
    color: #8b9dc3;
}

.redesSociales .instagram:hover {
    color: #f77737;
}

.redesSociales .twitter:hover {
    color: #0d95e8;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .redesSociales {
        margin-top: 10px;
        justify-content: center;
    }
}


