/* Fondo de la página */
body {
    background-image: url('Assert/Fondo-Nueva.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

/* Contenedor del login */
.inicio {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    width: 350px;
    text-align: center;
    margin-top: 50px;
    animation: fadeInUp 1.2s ease-out;
}

/* Animación de entrada */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Logo */
.logo img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    animation: float 3s infinite ease-in-out;
}

/* Animación flotante del logo */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.logo p {
    font-size: 1.5em;
    margin: 10px 0;
    color: #000000;
    font-weight: bold;
}

/* Inputs */
label {
    display: block;
    margin-top: 20px;
    font-size: 1em;
    text-align: left;
    color: #000000;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #00d9ff;
    border-radius: 5px;
    background: rgba(0, 217, 255, 0.2);
    color: #000000;
    font-size: 1em;
    outline: none;
    transition: all 0.3s ease;
}

/* Efectos al enfocar los inputs */
input:focus {
    border-color: #0659be;
    box-shadow: 0 0 10px rgba(6, 89, 190, 0.5);
    background: #ffffff;
}

input::placeholder {
    color: #333333;
    font-style: italic;
}

/* Botón */
button {
    margin-top: 20px;
    width: 80%;
    background: #00d9ff;
    color: #000;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

/* Efectos al pasar el mouse por el botón */
button:hover {
    background: #007fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

/* Enlace del botón */
.enviar-a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

/* Link de registro */
.registro-a {
    display: block;
    margin-top: 20px;
    color: #0659be;
    font-size: 0.9em;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.registro-a:hover {
    text-decoration: underline;
    color: #003f91;
}
